.global-btn {
  width: 35rem;
  height: 6rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background: #FF5800;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;

  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}