.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.camera {
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  object-fit: cover;
  border: 20px solid #FF5800;
  box-shadow:
    0 0 0 20px #FFBC98,
    0 0 10px 40px #FFE2D2;
  margin: 0;
}

.qrscan{
  overflow: hidden;
  display: flex;
  width: 600px;
  height: 600px;
  align-items: center;
  margin: 0;
  justify-content: center;
}

section {
  border-radius: 50%;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Jost;
}

.title {  
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
  margin-top: 3rem;
}

.subtitle {
  font-weight: lighter;
  line-height: 100%;
  color: #757272;
  margin: 1rem;
  text-align: center;
  margin-left: 11rem;
  margin-right: 11rem;
  font-size: 2.1rem;
}
