div{
  z-index: 0;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.qrscan{
  width: 30rem;
}

section {
  border-radius: 50%;

}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Jost;
}

.title {  
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
  margin-top: 3rem;
}

.subtitle {
  font-weight: lighter;
  line-height: 100%;
  color: #757272;
  margin: 1rem;
  text-align: center;
  margin-left: 11rem;
  margin-right: 11rem;
  font-size: 2.1rem;
}

.btnQr {
  width: 35rem;
  height: 6rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background: #FF5800;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;

  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.camera {
  padding: 79px;
}
.modal-content {
  position: absolute;
  z-index: 2 !important;
  background-color: #faf6f3 ;
  border-radius: 1rem;
  width: 40rem;
  height: 760px;
  margin-left: 18%;
  margin-top: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;  
  font-size: 1.7rem;
  text-align: justify;
  font-family: Jost;
}

.subtitle-modal {
  color:#FF5800;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.7rem;
  font-family: Jost;
}

.certificado {
  display: flex;
  flex-direction: column;
}