.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.qrscan{
  width: 27rem;
}
section {
  border-radius: 50%;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Jost;
}

.title {  
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
  margin-top: 3rem;
}

.subtitle {
  font-weight: lighter;
  line-height: 100%;
  color: #757272;
  margin: 1rem;
  text-align: center;
  margin-left: 11rem;
  margin-right: 11rem;
  font-size: 2.1rem;
}

.btnQr {
  width: 35rem;
  height: 6rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background: #FF5800;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;

  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}